    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
   /* .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }
    
    .clearfix:after {
        clear: both;
    }
    
    .clearfix {
        *zoom: 1;
    }*/
    
    html {
        font-size: 90%;
    }
    
    body {
        background-color: #ddd;
        color: #454546;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container {
        margin: 0;
        /* max-width: 74rem; */
        /* width: 70%; */
        background: #fff;
        padding: 20px;
    }
    /* HTML Styles */
    
    h2 {
        color: #383838;
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 0 0 1rem 0;
        font-weight: bold;
    }
    
    h3 {
        color: #595959;
        font-size: .8rem;
        line-height: 1.6rem;
        margin: 0 0 1rem 0;
    }
    /*  Links  */
    
    a:hover,
    a:focus {
        color: #ff6633;
        text-decoration: none;
    }
    /* tile grid */
    
    .grid {
       position: relative;
       height: 600px;
       clear: both;
       padding-top: 20px;
    }
    /* clearfix */
    
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    /* filters */
    
    .filters {
        margin: 20px 0;
    }
    
    .phaseSelector {
       /* border: 1px solid #404040; */
       padding: 3px 5px;
       color: #404040;
       text-decoration: none;
       margin: 0 15px;
       float: left;
       /* border-radius: 7px; */
       background: #fff;
       border-bottom: 2px solid #404040;
       flex: 1 1 20%;
    }
    /* cat1 */


    .cat1, .cat1active  {
        background: #404040;
        color:#fff;
    }

    #cat1:hover {
        color: #fff;
        background: #404040;
        transition: 0.5s ease-in;
        text-decoration: none;
    }
    
    .cat2, .cat2active {
        background: #002857;
        color:#fff;
    }
    #cat2:hover {
        color: #fff;
        background: #002857;
        transition: 0.5s ease-in;
        text-decoration: none;
    }
    
    .cat3, .cat3active {
        background: #b4252d;
        color:#fff;
    }
    #cat3:hover {
        color: #fff;
        background: #b4252d;
        transition: 0.5s ease-in;
        text-decoration: none;
    }
    .cat4, .cat4active {
        background: #5a2a82;
        color:#fff;
    }
    #cat4:hover {
        color: #fff;
        background: #5a2a82;
        transition: 0.5s ease-in;
        text-decoration: none;
    }
    
    .cat5, .cat5active {
        background: #638b18;
        color:#fff;
    }
    #cat5:hover {
        color: #fff;
        background: #638b18;
        transition: 0.5s ease-in;
        text-decoration: none;
    }
    
    .cat6, .cat6active {
        background: #dc5f13;
        color:#fff;
    }
    #cat6:hover {
        color: #fff;
        background: #dc5f13;
        transition: 0.5s ease-in;
        text-decoration: none;
    }
    
    .active {
        background: #404040;
        color: #fff;
    }
    /* ---- grid ---- */
    
    
    .grid-item {
        /*width: 33%; */
        border: 1px solid #fff;
        text-align: center;
        max-height: 200px;
        /* float: left; */
        border-radius: 15px;
        /* max-width: 150px; */
        text-decoration: none;
        flex: 0 1 200px;
    }
    
    .grid-item h3 {
        color: #fff;
        padding: .5em .5em;
        font-weight: normal;
        font-size: 20px;
    }
    
    .cat1:hover,
    .cat1:focus {
        background: #404040;
        transition: background ease-in 0.5s;
    }
    
    .cat2:hover,
    .cat2:focus {
        background: #002857;
        transition: background ease-in 0.5s;
    }
    
    .cat3:hover,
    .cat3:focus {
        background: #b4252d;
        transition: background ease-in 0.5s;
    }
    
    .cat4:hover,
    .cat4:focus {
        background: #5a2a82;
        transition: background ease-in 0.5s;
    }
    
    .cat5:hover,
    .cat5:focus {
        background: #638b18;
        transition: background ease-in 0.5s;
    }
    
    .cat6:hover,
    .cat6:focus {
        background: #dc5f13;
        transition: background ease-in 0.5s;
    }

    @media screen and (max-width:375px) {
        grid {
            height: 30vh;
        }
    }

